/* normalize */

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

svg {
    display: block;
}

.container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    padding: 0 72px;
}

.list-reset {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

:root {
    --accent-font: Merriweather;
    --base-font: GolosText;
    --accent-color-light: #F54932;
    --accent-color-dark: #3057A2;
    --base-color-btn-dark: #1F1F1F;
    --base-color-dark: #313131;
    --base-color-light: #FFFFFF;
    --border-color: #D0D0D0;
    --hover-color-light: #FBCE51;

    --font-size-title-medium: 54px;
    --font-size-title-small: 36px;

    --font-size-descr-big: 22px;
    --font-size-descr-medium: 20px;
    --font-size-descr-small: 18px;
    --font-size-descr-exSmall: 16px;

    --line-height-big: 65px;
    --line-height-medium: 49px;
    --line-height-small: 24px;
    --line-height-exSmall: 19px;
}

/* fonts */

@font-face {
    font-family: "Merriweather";
    src: local("Merriweather-Regular"),
      url("../fonts/Merriweather-Regular.woff2") format("woff2"),
      url("../fonts/Merriweather-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Merriweather";
    src: local("Merriweather-Bold"),
      url("../fonts/Merriweather-Bold.woff2") format("woff2"),
      url("../fonts/Merriweather-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "GolosText";
    src: local("GolosText-Regular"),
      url("../fonts/GolosText-Regular.woff2") format("woff2"),
      url("../fonts/GolosText-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "GolosText";
    src: local("GolosText-Medium"),
      url("../fonts/GolosText-Medium.woff2") format("woff2"),
      url("../fonts/GolosText-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "GolosText";
    src: local("GolosText-DemiBold"),
      url("../fonts/GolosText-DemiBold.woff2") format("woff2"),
      url("../fonts/GolosText-DemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    min-width: 320px;
    font-family: "GolosText", sans-serif;
    font-weight: 400;
} 

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(180%) translateY(30%);
        opacity: 0;
    }
    to {
        transform: translate(114%, -48%);
        opacity: 1;
    }
}

/* header */

.header {
    padding: 26px 0 130px;
    background-image: url("../img/header-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header__content {
    max-width: 542px;
}

.header__logo {
    display: block;
    max-width: 245px;
    margin-bottom: 60px;
}

.header__title {
    margin: 0;
    font-family: var(--accent-font);
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
    text-transform: uppercase;
    color: var(--base-color-dark);
    opacity: 0;
    animation: fadeInUp .7s ease-out forwards;
}

.header__title:nth-child(1) {
    animation-delay: .1s;
}

.header__title:nth-child(2) {
    animation-delay: .2s;
}

.header__title:nth-child(3) {
    animation-delay: .3s;
}

.header__title--center {
    display: block;
    text-align: center;
}

.header__title--right {
    display: block;
    text-align: end;
}

.header__descr {
    margin: 0;
    margin-top: 24px;
    font-size: var(--font-size-descr-small);
    line-height: 23px;
    text-align: center;
    color: var(--base-color-dark);
    opacity: 0;
    animation-delay: .4s;
    animation: fadeInUp .7s ease-out forwards;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .6s ease-out, transform .6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.header__btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
    gap: 16px;
}

.header__btn {
    padding: 13px 49px;
    font-weight: 500;
    font-size: var(--font-size-descr-exSheader__btnmall);
    line-height: 21px;
    text-align: center;
    color: var(--base-color-light);
    background-color: var(--base-color-btn-dark);
    border-radius: 66px;
    opacity: 0;
    transition: color .25s ease-in-out, background-color .25s ease-in-out;
    animation: fadeInUp .7s ease-out forwards;
    cursor: pointer;
}

.header__btn:nth-child(1) {
    animation-delay: .4s;
}

.header__btn:nth-child(2) {
    animation-delay: .6s;
}

.header__btn:hover {
    background-color: var(--hover-color-light);
    color: var(--base-color-btn-dark);
}

.header__btn--light {
    color: var(--base-color-btn-dark);
    background-color: transparent;
    border: 2px solid var(--base-color-btn-dark);
}

.header__btn--light:hover {
    background-color: var(--base-color-btn-dark);
    color: var(--base-color-light);
}

/* marquee */

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}
        
.marquee {
    font-family: var(--accent-font);
    font-size: var(--font-size-descr-big);
    text-transform: uppercase;
    background: var(--accent-color-light);
    color: var(--base-color-light);
    overflow: hidden;
}
        
.marquee__content {
    display: inline-flex;
    animation: marquee 15s linear infinite;
    -webkit-transform-style: preserve-3d; 
    transform-style: preserve-3d;
    align-items: center;
}
        
.marquee__item {
    padding: 18px 0;
    white-space: nowrap;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}

.marquee__interpunct {
    display: inline-block; 
    width: 6px; 
    height: 6px; 
    margin: 0 12px;
    background-color: var(--base-color-light); 
    border-radius: 50%; 
}

/* support */

.support {
    margin-top: 76px;
    margin-bottom: 150px;
}

.support__content-top {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 394px);
    row-gap: 0;
}

.support__content-top__title {
    max-width: 764px;
    margin: 0;
    font-family: var(--accent-font);
    font-weight: 400;
    font-size: var(--font-size-title-small);
    line-height: var(--line-height-medium);
    text-transform: uppercase;
    color: var(--base-color-dark);
}

.support__content-top__title--top {
    align-self: self-end;
}

.support__content-top__title--invis {
    display: none;
}

.support__content-top__accent {
    font-weight: 700;
    color: var(--accent-color-light);
}

.support__content-top__img {
    grid-row: span 2;
    align-self: center;
}

.support__content-bottom {
    display: grid;
    grid-template-columns: 520px 1fr;
    column-gap: 0px;
    max-width: 1366px;
    width: 100%;
    margin: 64px auto 0;
}

.support__content-bottom__img {
    grid-row: 3 span;
    transform: translate(-27px, -25px);
}

.support__content-bottom__title {
    max-width: 764px;
    margin: 0;
    margin-bottom: 10px;
    font-family: var(--accent-font);
    font-weight: 400;
    font-size: var(--font-size-title-small);
    line-height: var(--line-height-medium);
    text-transform: uppercase;
    color: var(--base-color-dark);
}

.support__content-bottom__title--accent {
    font-weight: 700;
    color: var(--accent-color-light);
}

.support__content-bottom__table {
    position: relative;
    grid-column: initial;
    padding: 0;
    border-collapse: collapse; 
    border: none; 
}

.support__content-bottom__row {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.support__content-bottom__row:not(:last-child) {
    border-bottom: 2px solid var(--border-color); 
}

.support__content-bottom__row td:not(:last-child) {
    border-right: 2px solid var(--border-color); 
}

.support__content-bottom__table tr td { 
    padding-top: 16px;
    padding-bottom: 14px;
}

.support__content-bottom__table tr:last-child td:nth-child(n+1) {
    padding-bottom: 0; 
}

.support__content-bottom__table tr:first-child td:nth-child(n+1) {
    padding-top: 0; 
}

.support__content-bottom__term {
    width: 308px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    opacity: 70%;
}

.support__content-bottom__def {
    font-weight: 600;
    font-size: 20px;
    color: var(--base-color-dark);
    opacity: 100%;
}

.support__content-bottom__price {
    position: relative;
    display: inline-block;
    margin-right: 7px;
    text-decoration-color: var(--accent-color-light);
}

.support__content-bottom__span {
    margin-top: 0;
    font-size: var(--font-size-descr-medium);
    line-height: var(--line-height-small);
    color: var(--accent-color-dark);
}

/* stages */

.stages {
    margin-bottom: 202px;
    overflow: hidden;
}

.stages__title {
    margin: 0;
    font-family: var(--accent-font);
    font-weight: 400;
    font-size: var(--font-size-title-medium);
    line-height: var(--line-height-big);
    text-transform: uppercase;
    color: var(--base-color-dark);
}

.stages__content-block {
    display: flex;
    align-items: center;
    margin-bottom: 54px;
}

.stages__span {
    margin: 0;
    margin-left: 19px;
    font-size: var(--font-size-descr-medium);
    line-height: var(--line-height-small);
    color: var(--accent-color-dark);
    transform: translateY(-2px);
}

.stages__list {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

.stages__item {
    display: flex;
    gap: 16px;
    align-items: baseline;
    padding: 15px 20px 18px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.stages__item.visible {
    opacity: 1;
    transform: translateY(0);
}

.stages__p--width {
    max-width: 446px;
}

.stages__item {
    background-image: url("../img/stages-item.png");
}

.stages__item:nth-child(3) {
    grid-row: span 2;
}

.stages__item:nth-child(7) {
    grid-column: span 2;
}

.stages__num {
    display: inline-flex; 
    flex-shrink: 0; 
    justify-content: center;
    align-items: center; 
    width: 36px; 
    height: 36px; 
    font-weight: 600;
    font-size: var(--font-size-descr-medium);
    line-height: var(--line-height-small);
    color: var(--base-color-dark); 
    background-color: var(--base-color-light); 
    border-radius: 50%; 
}

.stages__p {
    margin: 0;
    font-weight: 500;
    font-size: var(--font-size-descr-medium);
    line-height: var(--line-height-small);
    color: var(--base-color-dark);
}

.stages__img-mob {
    display: none;
}

.stages__img {
    opacity: 0;
    animation: none;
    position: absolute;
}

.stages__img--visible {
    animation: slideIn .8s ease-out forwards;
    max-width: 397px;
}

.stages__paginate {
    display: none;
    visibility: hidden;
}

/* members */

.members {
    margin-bottom: 143px;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden; 
}

.slider-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.slider__navigate {
    position: absolute;
    display: flex;
    top: 10px;
    left: 100%;
    gap: 18px;
    transform: translateX(-100%);
}

.slider__title {
    margin: 0;
    font-family: var(--accent-font);
    font-weight: 400;
    font-size: var(--font-size-title-medium);
    line-height: var(--line-height-big);
    text-transform: uppercase;
    color: var(--base-color-dark);
}

.slider__btn {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.slider__btn svg circle {
    fill: var(--base-color-dark);
    transition: fill .25s ease-in-out;
}

.slider__btn svg circle:hover {
    fill: var(--hover-color-light);
}

.slider__paginate {
    display: flex;
    align-items: center;
}

.slide__current {
    font-size: var(--font-size-descr-exSmall);
    line-height: var(--line-height-exSmall);
    color: var(--base-color-dark);
}

.slide__slash,
.slide__total {
    font-size: var(--font-size-descr-exSmall);
    line-height: var(--line-height-exSmall);
    color: var(--base-color-dark);
    opacity: 60%;
}

.slider__wrapper {
    display: flex; 
    gap: 20px;
    transition: transform 0.5s ease;
}

.slider__slide {
    flex: 0 0 auto;
    align-items: center;
    opacity: 0.7; 
    transform: scale(0.9);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.slider__slide.active {
    opacity: 1; 
    transform: scale(1);
}

.slider__img {
    display: block;
    width: 320px;
    margin: 0 auto;
}

.slider__subtitle {
    margin: 0;
    margin-top: 28px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: var(--base-color-dark);
}

.slider__descr {
    margin: 0;
    margin-top: 6px;
    font-size: var(--font-size-descr-medium);
    line-height: var(--line-height-small);
    text-align: center;
    color: var(--base-color-dark);
    opacity: 60%;
}

.slider__btn--light {
    display: block;
    padding: 6px 12px;
    margin: 20px auto 0;
    font-weight: 500;
    font-size: var(--font-size-descr-exSmall);
    line-height: var(--line-height-exSmall);
    color: var(--accent-color-dark);
    border: 1px solid var(--accent-color-dark);
    border-radius: 62px;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
}

.slider__btn--light:hover {
    background-color: var(--accent-color-dark);
    color: var(--base-color-light);
}

/* footer */

.footer {
    padding: 40px 0 72px;
    background-color: #E9DED4;
}

.footer__span {
    font-size: var(--font-size-descr-exSmall);
    line-height: var(--line-height-exSmall);
    color: var(--base-color-dark);
    opacity: 60%;
}